* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;     
    background: rgb(3, 3, 29);
    flex: 1 1 100vw;
    flex-wrap: wrap;
}


p,h1 {
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

