<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas e Status</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <main class="home">
        <h1>Informações das Pessoas</h1>
        
        <!-- Formulário para adicionar nova pessoa -->
        <form action="/salvar_tempo" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required>
            
            <label for="entrada">Entrada:</label>
            <input type="time" id="entrada" name="entrada" required>
            
            <label for="saida">Saída:</label>
            <input type="time" id="saida" name="saida" required>
            
            <button type="submit">Salvar</button>
        </form>
        
        <table class="dashboard" border="1">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Saída</th>
                    <th scope="col">Horas feitas</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="datas">
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.id }}</td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.data }}</td>
                    <td>{{ pessoa.entrada }}</td>
                    <td>{{ pessoa.saida }}</td>
                    <td>{{ pessoa.score }}</td>
                    <td>{{ pessoa.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>